<div class="row">
  <div class="col-md-9">
    <ul id="chats-list">
      <% if @chats %>
        <% @chats.each do |chat| %>
          <%= render 'chats/chat', chat: chat, user: current_user %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Friend list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @friends.each do |friend| %>
            <li><%= link_to friend.email, chats_path(user_id: friend), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
