<li>
  <div id="panel panel-default" data-chat-id="<%= chat.id %>">
    <div>
      <%= link_to chat.opposed_user(user).email, '', id: 'toggle-window' %>
      <%= link_to "x", close_chat_path(chat), remote: true, method: :post %>
    </div>

    <div id="panel-body" style="display: none;">
      <div id="messages-list">
        <ul>
          <%= render 'chats/chat_content', messages: chat.messages, user: user %>
        </ul>
      </div>
    </div>
  </div>
</li>
